<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="forecast">FORECAST</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <div>
        <a
          class="text-secondary text-decoration-none me-3"
          routerLink="register"
          >SIGN IN

          <i
            class="fas fa-sign-in-alt fa-lg rounded-circle"
            height="25"
            alt="login icon"
          ></i>
        </a>
      </div>
      <div>
        <a class="text-secondary text-decoration-none me-3" routerLink="login"
          >LOGIN

          <i
            class="fas fa-user-circle fa-lg rounded-circle"
            height="25"
            alt="login icon"
          ></i>
        </a>
      </div>
    </div>
  </div>
</nav>
