.custom-container {
  background-color: #333;
  color: #fff;
}

.custom-card {
  background-color: #444;
  border: none;
}

.custom-card h3,
.custom-card h4,
.custom-card p {
  color: #fff;
}

.weather-temperatures p {
  color: #fff;
}

.custom-forecast-card {
  background-color: #555;
  border: none;
}

.custom-forecast-card h2,
.custom-forecast-card h4,
.custom-forecast-card p {
  color: #fff;
}
