<div class="main-container bg-dark text-white m-4 rounded">
  <div class="container text-center mt-5">
    <h1 class="display-4">Benvenuto in NgWeatherWatch</h1>
    <p class="lead">
      NgWeatherWatch ti fornisce informazioni meteo sempre aggiornate in modo da
      poter pianificare la tua giornata con facilità.
    </p>
    <p class="lead">
      Che tu stia cercando le condizioni meteorologiche attuali o voglia
      controllare le previsioni per i prossimi giorni, sei nel posto giusto.
      Basta inserire la tua posizione e avrai tutti i dettagli sul meteo a
      portata di mano.
    </p>
    <p class="lead">
      Quindi rilassati e lascia che NgWeatherWatch sia la tua guida per una
      giornata di sole, pioggia o neve! Inizia a scoprire ora!
    </p>
    <img
      src="/assets/homeimage.jpg"
      alt="NgWeatherWatch Home"
      class="img-fluid rounded mt-4"
    />
  </div>
</div>
